/* styles to "help" IE along */
.rtl .front #content-top-last {
  width: 26%;
  padding-left: 0;
}

.rtl .front #content-top-first{
  width: 70%;
}

#sidebar-last {
  padding-left: .5em;
  overflow-x: hidden;
}

.rtl #sidebar-last {
  padding-left: 0em;
  padding-right: .5em;
  width: 190px;
}

h4.title a {
  font-size: 0.9em;
}

body.en #header-last-menus {
  width: 480px;
}

#header-last-menus .item-list ul {
  margin-bottom: 0;
}

#header-last-menus #search {
  margin-top: 5px;
}

#search .form-submit {
  background: transparent;
}

body.en #search .form-submit {
  margin-right: -10px;
}

body.es #search .form-submit {
  margin-right: -10px;
}

body.fr #search .form-submit {
  margin-right: -20px;
}

#header-country-dropdown {
  top: -81px;
}

body.fr #header-country-dropdown {
  top: -78px;
}

.rtl #header-country-dropdown {
  right: 50%;
}

.rtl #header-country-dropdown #header-country-select-form {
  float: none;
}

#header-country-dropdown #header-country-select-form #edit-submit {
  margin: 0;
  padding: 0;
}

#header-last-menus #edit-search_theme_form_keys {
  vertical-align: 30%;
}

#header-last-menus #user-menu {
  margin-top: 0;
}

#primary a {
  padding: 1px 0 3px 0;
}

#primary #primary-5 a {
  width: 14.6%;
}

#primary #primary-4 a {
  width: 11.85%
}

body.ar #primary #primary-5 a {
  width: 13.4%;
}

body.ar #primary #primary-3 a {
  width: 21.6%;
}

body.ar #primary #primary-0 a {
  width: 14.5%;
}

body.fr #primary #primary-5 a {
  width: 12.5%;
}

body.es #primary #primary-5 a {
  width: 17.6%;
}

/* holly hack to give layout to these elements */
body.rtl #squeeze,
body.rtl #squeeze .tabs.primary,
body.rtl #squeeze .breadcrumb ul.menu,
body.rtl #squeeze .breadcrumb ul.menu li.breadcrumb-item,
body.rtl #squeeze .ntype-story,
body.rtl #squeeze .ntype-story div.links,
body.rtl #squeeze .ntype-story .tag-links ul.links,
body.rtl #squeeze .ntype-story .tag-links ul.links li,
body.rtl #squeeze .ntype-story .service-links ul.links,
body.rtl #squeeze .ntype-story .service-links ul.links li {
  height: 1%;
}

/* undo the percentage width that fixes the rtl float bug in firefox */
.rtl .ntype-story .content ul,
.rtl .ntype-page .content ul {
  width: auto;
}

body.both-sidebars #squeeze {
  height: 1%;
  margin-bottom: 10px;
}

#block-amnesty-learn_about_front_page .greyborder {
  height: 140px;
}

#human-rights .block .greyborder {
  height: 120px;     /* for IE6 */
  min-width: 170px;  /* for IE7 */
  width: 170px;      /* default if JS off */
  width: expression(document.body.clientWidth < 800? "170px": "100%" );  /* min-width emulation for IE6 */
}

#block-views-jobs_by_country #edit-submit {
  margin-top: -40px;
}

#block-views-country_block #edit-submit {
  margin-top: -1em;
}

#block-amnesty-learn_about_front_page #edit-submit,
#block-amnesty-select_country_front_page #edit-submit {
  line-height: 1em;
  margin: 0 0 0 5px;
}

#block-amnesty-learn_about_front_page select,
#block-amnesty-select_country_front_page select {
  float: left;
  margin: 0;
}

#learn-about-region-country-form select#edit-region,
#learn-about-region-country-form select#edit-country,
#topic-select-list-form select#edit-topic {
  margin: 0;
}

#block-amnesty-learn_about_region_country select,
#block-views-topics select  {
  margin: 0;
}

.not-front #learn-about-region-country-form #edit-submit,
#block-views-topics #edit-submit,
#civicrm-membership-form #edit-submit,
#civicrm-membership-donate-form #edit-submit,
#block-amnesty-sub_issue_list #edit-submit {
  line-height: 1em;
  margin: 0 0 0 5px;
}

.rtl #learn-about-region-country-form select#edit-region,
.rtl #learn-about-region-country-form select#edit-country,
.rtl #topic-select-list-form select#edit-topic {
  margin: 0 5px 0 0;
}

.ntype-region #learn-about-region-country-form {
  margin-top: 15px;
}

.ntype-region #learn-about-region-country-form select#edit-country,
.ntype-region #learn-about-region-country-form select#edit-region {
  margin-top: 0;
}

#container {
  margin-top: 0px;
}

#content-top-first {
  float: left;
  margin: 0 1% 0 0;
  width: 66.5%;
}

#front-column-first {
  float: left;
  width: 46%;
}

h5.byline {
  margin: 0;
}

div.strapline {
  margin-top: -15px;
}

.icon-teaser .tag-links {
  margin: 5px 0 7px 8px;
  background: none;
  border: none;
}

.greyborder {
  background: #fff;
}

.ntype-subsection {
  width: 44%;
}

.site-map ul li a {
  display: inline-block;
}

#block-aisearchnews-search {
  border: 1px solid white;
}

#container #sidebar-first {
  width: 165x;
}

#search-filters select,
.search-filters select {
  font-size: 0.75em;
}

.search-filters  {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#lightbox #imageDataContainer {
  overflow: hidden;
}

.rtl .pager-outer-wrapper {
  height: 1%;  /* IE hack */
}

.rtl .report-files ul.files li {
  float: none;
  display: block;
  list-style: none;
  margin: 0;
  padding: none;
  border: none;
}

/* Apparently IE6/7 treats this padding as LTR.  Undoing the RTL padding */
body.rtl #block-amnesty-print_email ul.print-email li .email-link {
  padding: 0 5px 0 18px;
}

body.rtl #block-amnesty-print_email ul.print-email li .print-link {
  padding: 0 8px 0 18px;
}

/* Need to set haslayout to prevent jumping content text in RTL */
body.ar .ntype-page {
  zoom: 1;
}

/* this messes up lists in panels */
ol,
ul,
dl {
  position: static;
}

.front #content-top {
  background-position-x: 101% !important;
}

.front #content-top-first {
  background-color: #fff; 
}

.rtl .front #content-top {
  background-position: -1% 0px !important;
}

/* expanding teasers on homepage */
.expanding-header h3 {
  padding-bottom: 5px;
  margin: 5px;
}

.expanding-teaser-expanded .expanding-button {
  width: 20px;
}

.expanding-teaser .content {
  width: 93%;
}

.expanding-teaser {
  border: 1px solid white;
  border-width: 0 1px 1px 1px;  /* this weird fix is needed to prevent extra space between the expanded teasers */
}

.teaser-image {
  margin-top: 12px;
}

.mainfront .teaser-image {
  margin-top: 0;
}

.front .rss-more-link a {
  padding-top: 5px;
}