/* fixes for IE6 only */
.front .rtl #content-top-last {
  width: 250px !important;
  overflow-x: hidden;
}

.rtl #header-country-dropdown {
  width: 320px;
  right: 55%;
}
/* fixing a home page sidebar glitch */
.front #content-top {
  background-position: 101% 0px;
}

.front #sidebar-last {
}

/*
fixing sidebar container
*/
#container #sidebar-last {
  width: 190px;
  margin: 0px
  overflow-x: hidden;
  padding: 0 .5em;
}

.not-front #sidebar-last {
  height: 30em;
}

.not-front #main {
  overflow-x: hidden;
}

#sidebar-first .block,
#sidebar-last .block {
  height: auto;
  padding-left: 5px;
}

#sidebar-last .block ul li {
  margin-left: 16px;
}

#sidebar-last .block ul.print-email li {
  margin: 0;
}

#sidebar-last .block ul.print-email {
  margin-bottom: 30px;
}

.front .rss-more-link a {
  padding-top: 3px;
}

.rtl #header-country-dropdown #header-country-select-form {
  width: 300px;
}

#block-i18nblocks-20 a{
  background-color: black !important;
}

/* assets */

.story-image-wrapper {
  position: static;
}

img.icon-enlarge {
  display: none;
}


h1,h2.title, h2.title_white  {
  font-size: 3em;
  line-height: 0.75em;
  margin: 10px 0 20px 0;
  text-transform:none;
  font-family: Georgia,verdana,serif;
 font-weight:normal;

}

h1.title, #container .block h2.title,h2.title_white {
	background:url('images/title_black_bg.gif') no-repeat right 7px;
}
#container div.main_home_page #block-block-5 h2.title_white {
	background:url('images/title_white_bg.gif') no-repeat 120px 7px;
}

div.main_home_page #block-block-5 h2.title_white ,div.main_home_page #block-views-upcoming_gigs-block_1 h2.title_white{
	background:url('images/title_white_bg.gif') no-repeat right 7px;

	
}


div.main_home_page  #block-views-upcoming_gigs-block_1 div.view-content {
	margin-top:10px;
}


