/* $Id: layout.css,v 1.5.2.1 2007/01/17 05:28:41 jjeff Exp $ */

/*********************
  LAYOUT
**********************/

body {
  direction: ltr;
  margin: 0;
  min-width: 810px;
  padding: 0;
  text-align: center;   
  background: #000 url('images/background.jpg') no-repeat center -100px;
      /* center #page element for IE */
  /* 2x (left-side fullwidth + main padding) + right-side fullwidth */
}

body.rtl {
  direction: rtl;
}

#page {
  min-width: 810px;               /* page width - optional */
  max-width: 810px;
  margin: 0% auto;             /* center the page - optional */
  padding: 0;
  text-align: left;           /* return text alignment after centering for IE */
  position: relative;
  width:810px;
}


#container {
  margin: 0 auto;
  /*padding: 0 20px;*/
  max-width: 810px;
  position: relative;
  width:810px;
}

#squeeze {
  position: relative;
  padding: 0px 0px 0px 20px;
  width:490px;
  float:left;
}

/* And add blanks left and right for the sidebars to fill */

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.both-sidebars {
  /*min-width: 980px;*/
}
/* With 2 columsn, require a minimum width of 800px. */
body.sidebar-left,
body.sidebar-right {
  min-width: 800px;
}

body.hide-last #sidebar-last {
  display: none;
}

body.sidebar-left #squeeze {
  margin-left: 250px;
}
body.sidebar-right #squeeze {
  width:520px;
}
body.both-sidebars #squeeze {
  margin: 0 210px 0 250px;
}

/* RTL squeeze format for all # of sidebars */
body.rtl #squeeze {
 float:left;
}

/* RTL squeeze format for sidebar last.
   WARNING: May cause layout issues for LTR in IE6.
   IE6 does not recognize middle elements in 
   chained class selectors.  So, for IE6:
   body.rtl.sidebar-last = body.sidebar-last */
body.rtl.sidebar-right #squeeze {
  margin: 0 0 0 210px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#main {
  float: left;
  width: 100%;
}

body.rtl #main {
  float: right;
}

/* So we move the #main container over the sidebars to compensate */
body.sidebar-left #main {
  margin-left: -250px;
}
body.sidebar-right #main {
 
}
body.both-sidebars #main {
  margin: 0 -210px 0 -250px;
}

/* RTL main format for all # of sidebars */
body.rtl #main {
  margin: 0 -250px 0 -210px;
}

/* RTL main format for sidebar last.  
   WARNING: May cause layout issues for LTR in IE6.
   IE6 does not recognize middle elements in 
   chained class selectors.  So, for IE6:
   body.rtl.sidebar-last = body.sidebar-last */
body.rtl.sidebar-last #main {
  margin: 0 0 0 -210px;
}

body.search-results-rtl #main {
  margin: 0;
}

body.search-results-rtl-sidebar-first #main {
  margin-right: -250px;
}


/* Disabled due to IE6 multi-class bug
body.rtl.sidebar-first #main {
  margin-right: -250px;
}
body.rtl.sidebar-last #main {
  margin-left: -200px;
}
body.rtl.both-sidebars #main {
  margin: 0 -250px 0 -200px;
}
*/

/* We ensure the sidebars are still clickable using z-index */
#container .sidebar {
  margin: 0 0 5em;
  float: left;
  z-index: 2;
  position: relative;
 

}

body.rtl #container .sidebar {
  margin: 0 0 5em;
  float: right;
  z-index: 2;
  position: relative;
}

#container #sidebar-first {
  width: 250px;
}

 #sidebar-right {
  width: 275px;
  padding: 0px .5em;
  float:right;
}

.column .block {
  margin: 0 0 10px 0;
}

#sidebar-first .block {
  padding: 0;
  clear:both;
}

#sidebar-last .block {
  padding: 0;
}

.block .content {
  margin: 0.5em 0;
}

#footer {
  float: none;
  clear: both;
}

#logo-print-only img{
  display: none;
}

@media print {
  #logo-print-only img{
    display: block;
  }

  body,
  #squeeze,
  body.both-sidebars #squeeze,
  .content,
  p {
    padding: 0;
    position: static;
  }

  body #squeeze {
    font-size: 11pt;
    width: 6.75in;
  }
    
  body.both-sidebars #squeeze {
    border: none;
  }

  #squeeze #breadcrumb {
    border-bottom: none;
  }

  #simplemenu,
  #secondary,
  #header-top,
  #header-last-menus,
  .tabs,
  #navigation *,
  #sidebar-first,
  #sidebar-last,
  .service-links,
  #footer {
    display: none;
  }

}
