/* $Id: print.css,v 1.1.2.11 2009/02/15 04:25:03 johnalbin Exp $ */

/* underline all links */
  a:link, a:visited
  {
    text-decoration: underline !important;
  }

  /* Don't underline header */
  #site-name a:link,
  #site-name a:visited
  {
    text-decoration: none !important;
  }

/* CSS2 selector to add visible href after links */
  #content a:link:after,
  #content a:visited:after
  {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

/* Un-float the content */
  #content,
  #content-inner
  {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  
  div.inline-image,
  img, ul.spoke,li {
  	float:none;
  }

/* Turn off any background colors or images */
  body,
  #page, #page-inner,
  #main, #main-inner,
  #content, #content-inner
  {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  
  #main .node .content {

    margin: 0 !important;
    padding: 0 !important;
    float:none;

  }
  
  body.rtl_text #main .node .content {
  	width:65%;
  }
  
   #main .node .content p{
   	display:block;
   }
  


/* Hide sidebars and nav elements */
  #skip-to-nav, #navbar, #sidebar-left, #sidebar-right, #footer,
  .breadcrumb, div.tabs, .links, .taxonomy,
  .book-navigation, .forum-topic-navigation, .pager, .feed-icons ,
  #block-block-1, .block-aggregator, .print, .content_meta, .page_bottom_nav
  {
    visibility: hidden;
    display: none;
  }

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
  #page
  {	width:100%;
	margin:0;
	max-width:100%;
	min-width:100%;
	float:none;
    overflow-y: visible;

  }
  
  
  
  body.sidebar-left #main 
  {	width:100%;
	margin:0;
	max-width:100%;
	min-width:100%;
	float:none;
 	padding:0;
 }
 body.sidebar-left #squeeze {
  	margin:0;
  	padding:0;
    width:100%;
  }
  
 #logo-print-only {
  display: inline;
  visibility: visible;
  float:left;
  width:100%
}

body.rtl_text #logo-print-only {
	text-align:right;
}

 #logo-print-only img {
  display: inline;
  visibility: visible;

 }
 
 #l10n-client {
 	display:none;
 }
